main {
	background-color: rgb(185, 168, 168);
	width: 100%;
	max-height: max-content;
	
}

.principalLista {
	width: 100%;
}

main .sectionFiltro{
	background-color: rgb(185, 168, 168);
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;	
}

ul{
	list-style: none;
}

.item{
	display: inline-flex;
	cursor: pointer;
	

}
main .section2 {
	background-color: rgb(185, 168, 168);
	width: 100%;
	margin: 10px auto;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	/*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
	gap: 2em;
}

main .carta {
	background-color: rgb(60, 63, 63);
	
	padding-inline: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 10%;
	border-radius: 1em;
	box-shadow: 0 0 10px rgb(99, 97, 98);


}

main .texto {
	color: antiquewhite;
	width: 100%;
	font-size: 10px;
	padding: 0 auto;
}

main .Imagen {
	width: 100%;
	border-radius: 1em;
}